In [3]:
#importamos las librerias necesarias para trabajar:
import pandas as pd
import requests

url_infodistritos="https://datos.madrid.es/egob/catalogo/300497-11326516-distritos-municipales-madrid.csv"
response= requests.get(url_infodistritos)

with open('../data/info_madrid_distritos.csv', 'wb') as file:
    file.write(response.content)

df_info_distritos = pd.read_csv('../data/info_madrid_distritos.csv',encoding='latin-1', sep=';')
df_info_distritos = df_info_distritos.loc[:, ['COD_DIS', 'NOMBRE']]
df_info_distritos['NOMBRE'] = df_info_distritos['NOMBRE'].replace('San Blas - Canillejas', 'San Blas')
df_info_distritos.to_csv('../data/codigos_distritos.csv', index=False)
df_info_distritos

    COD_DIS                 NOMBRE
0         1                 Centro
1         2             Arganzuela
2         3                 Retiro
3         4              Salamanca
4         5              Chamartín
5         6                 Tetuán
6         7               Chamberí
7         8  Fuencarral - El Pardo
8         9      Moncloa - Aravaca
9        10                 Latina
10       11            Carabanchel
11       12                  Usera
12       13     Puente de Vallecas
13       14              Moratalaz
14       15          Ciudad Lineal
15       16              Hortaleza
16       17             Villaverde
17       18      Villa de Vallecas
18       19              Vicálvaro
19       20               San Blas
20       21                Barajas