In [9]:
#importamos las librerias necesarias para trabajar:
import pandas as pd
import requests

url_precio_suelo_municipios_madrid_mas_50000hab="https://www.fomento.gob.es/be2/sedal/36403000.XLS"
response= requests.get(url_precio_suelo_municipios_madrid_mas_50000hab)

with open('../data/precio_suelo_municipios_madrid_mas_50000hab.xls', 'wb') as f:
    f.write(response.content)

df = pd.read_excel('../data/precio_suelo_municipios_madrid_mas_50000hab.xls', skiprows=10)
df.fillna(0)
df.rename(columns={"Unnamed: 1": "comunidad_autonoma"}, inplace=True)
df.dropna(subset=['comunidad_autonoma'], inplace=True)
df = df.loc[:, ['comunidad_autonoma', 'Año 2022']]
df.to_csv('../data/comunidad_madrid_precio_suelo_urbanizable.csv', index=False)
df

    comunidad_autonoma Año 2022
2       TOTAL NACIONAL   240.19
3            Andalucía   241.66
4   Almería              210.83
5   Cádiz                146.03
6   Córdoba              182.91
..                 ...      ...
59               Álava    324.3
60           Guipúzcoa        .
61             Vizcaya    213.5
62          Rioja (La)     n.s.
63     Ceuta y Melilla   160.48

[62 rows x 2 columns]

In [5]:
precio_m2_suelo_madrid_mas_50000hab = df[df['comunidad_autonoma'].str.contains('Madrid')]['Año 2022'].iloc[0]
print(precio_m2_suelo_madrid_mas_50000hab)

554.63